@model TaskManagementSystem.Models.ManagerDashboardViewModel

<h2>Dashboard</h2>
<br />
<h3> @Html.ActionLink("Notifications", "ShowListOfNotifications", "Notifications", new { userId = Model.UserId }, null) @Model.NumOfUnreadNotifications</h3>
<br />
<h3>All Projects</h3>
<h5> @Html.ActionLink("Uncompleted Tasks Passed Deadline", "ShowUncopletedTasksPassedDeadline", "ApplicationUsers", new { userId = Model.UserId }, null) </h5>
<h5> @Html.ActionLink("Projects over Budget", "DisplayProjectOverBudget", "ApplicationUsers", new { userId = Model.UserId }, null) </h5>

<ol>
    @foreach (var project in Model.Projects)
    {
        <li>
            @project.Title <br />

            <ul>
                @foreach (var job in project.Jobs)
                {
                    <li>
                        @job.Title <br />

                        <ol>
                            @foreach (var developer in job.Developers)
                            {
                                <li>
                                    @developer.UserName
                                </li>
                            }
                        </ol>
                    </li>
                }
            </ul>
        </li>
    }
</ol>